.product-section {
    padding-top: 120px;

    .row {
        justify-content: space-between;
    }

    .swiperjs-wrapper,
    .product-details-wrapper {
        max-width: 635px;
    }

    @media (max-width: 767.98px) {
        padding-top: 30px;
    }
    @media (min-width: 768px) and (max-width: 1199.98px) {
        padding-top: 50px;
    }
}

.product-details-wrapper {
    .product-details {
        h2 {
            font-size: 36px;
            font-weight: 600;
            color: $dark-green;
            margin-bottom: 0px;
        }

        p {
            font-weight: 300;
        }
    }

    .star-review {
        display: flex;
        align-items: center;
        margin-bottom: 17px;

        .star {
            color: #00C853;
            font-size: 18px;
            margin-right: 2px;
        }

        .review-score {
            font-size: 13px;
            color: $dark-green;
            padding: 2px 10px 2px 6px;
            font-weight: 300;
            display: flex;
            align-items: center;

            span {
                font-weight: 300;
                margin-right: 4px;
            }
        }
    }

    .addtocart-btn {
        a {
            width: 100%;
        }
    }

    @media (max-width: 767.98px) {
        .product-details {
            h2 {
                font-size: 28px;
            }
        }
    }
}

.product-price-tabs {
    .accordion-item {
        margin-bottom: 11px;
    }

    .simple-accordion>.accordion-item:first-of-type {
        .accordion-btn {
            border-radius: 0 0 7px 7px;
            border-top: none;
        }

        .accordion-btn.active {
            border-radius: 0;
        }
    }

    h2 {
        background: linear-gradient(270deg, #032E15 0%, #008236 51.92%, #00C950 100%);
        border: #B8B8B8 1px solid;
        font-size: 20px;
        font-weight: 700;
        color: $white;
        text-align: center;
        border-radius: 6px 6px 0 0;
        padding: 6px 0;
        margin-bottom: 0;
    }

    .accordion-btn {
        background: none;
        border: none;
        display: flex;
        border: 1px solid #B8B8B8;
        border-radius: 7px;
        width: 100%;
        padding: 16px 22px;
        font-family: 'Inter', sans-serif;

        span {
            display: flex;
        }

        &.active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: none;

            .check-icon {
                background: url('./../images/radip-check.svg') no-repeat center center;
                border: none;
            }

            .heading-price {
                border-bottom: 1px solid #919798;
                padding-bottom: 14px;
            }
        }

        .check-icon {
            border: #00C950 1px solid;
            height: 17px;
            width: 17px;
            border-radius: 8px;
            margin-top: 4px;
        }

        .heading-price {
            font-size: 20px;
            font-weight: 300;
            color: $dark-green;
            margin-left: 10px;
            flex: 1;
            justify-content: space-between;
            letter-spacing: .9px;


            .price {
                font-weight: 700;
                margin-left: 5px;
                color: $dark-green;
            }

            .price-del {
                color: #B8B8B8;
                text-decoration: line-through;
                font-weight: 300;
                margin-left: 10px;
            }
        }
    }

    .accordion-content {

        border: 1px solid #B8B8B8;
        border-top: none;
        border-radius: 0 0 7px 7px;
        padding: 0 50px;
    }

    @media (max-width: 767.98px) {
        .accordion-btn {
            padding: 15px;

            .heading-price {
                font-size: 14px;
            }
        }

        .accordion-content {
            padding: 0px 20px;
        }
    }
}

// Fragrance Option Custom Radios
.choose-fragrance {
    h6 {
        font-size: 16px;
        font-weight: 300;
        color: #032e15;
    }
}

.fragrance-options {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}

.fragrance-option {
    display: flex;
    flex-direction: column;
    background: #F9F9F9;
    border-radius: 5px;
    padding: 7px 10px 15px;
    min-width: 127px;
    height: 145px;
    cursor: pointer;
    position: relative;
    transition: border 0.2s, box-shadow 0.2s;

    .fragrance-name {
        font-size: 13px;
        color: #919798;
        font-weight: 300;
    }

    img {
        width: 55px;
        margin: 0 auto;
    }

    .custom-radio {
        width: 10px;
        height: 10px;
        border: 1px solid #919798;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        background: #fff;
        transition: border 0.2s;
        margin-right: 6px;
    }

    .best-seller {
        position: absolute;
        top: -5px;
        right: 4px;
        background: linear-gradient(180deg, #032E15 0%, #016630 100%);
        color: #fff;
        font-size: 7px;
        font-weight: 700;
        padding: 1px 7px;
        border-radius: 5px 0;
        z-index: 2;
    }

    .selected-badge {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }

    &:not(:last-child) {
        // margin-right: 0.5rem;
    }

    @media (max-width: 767.98px) {
        min-width: 84px;
        height: 115px;

        img {
            width: 35px;
        }
    }

    @media (min-width: 768px) and (max-width: 1199.98px) {
        min-width: 85px;
        height: 120px;

        img {
            width: 45px;
        }
    }
}

.fragrance-option input[type="radio"]:checked+.selected-badge .custom-radio {
    background: url('./../images/check-small.svg') no-repeat center center;
    border: none;
}

.fragrance-option input[type="radio"]:checked+.selected-badge .fragrance-name {
    background: linear-gradient(180deg, rgba(3, 46, 21, 0.6) 0%, rgba(1, 102, 48, 0.6) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.free-options {
    margin-bottom: 20px;

    h5 {
        font-size: 16px;
        font-weight: 300;
        color: #032E15;
    }

    .free-box {
        display: flex;
        gap: 15px;
    }

    .box {
        border: 1px solid #919798;
        border-radius: 6px;
        padding: 10px;
        padding-bottom: 28px;
        max-width: 166px;
        width: 100%;

        p {
            font-weight: 300;
            color: #6F7577;
        }

        img {
            width: 84px;
            margin: 0 auto;
        }

        &.middle-box {
            max-width: inherit;

            p {
                margin-bottom: 30px;
            }

            div {
                display: flex;

                img {
                    width: 54px;
                    margin: 0 20px;
                }
            }

            b {
                color: $dark-green;
                font-weight: 700;
            }
        }
    }

    @media (max-width: 767.98px) {
        .free-box {
            flex-direction: column;
        }

        .box {
            img {
                width: 64px;
            }

            &.middle-box div img {
                margin: 0 15px;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 1199.98px) {
        .free-box {
            flex-direction: column;
        }

        .box.middle-box div img {
            width: 34px;
        }
    }
}

.checklist {
    margin-bottom: 25px;

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        display: flex;
        margin-bottom: 8px;

        p {
            margin-bottom: 0;
            padding-left: 10px;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: .9px;

            b {
                font-weight: 700;
            }
        }
    }
}