.swiperjs-wrapper {
    .main-swiper {
        margin-bottom: 30px;
    }

    .swiper-slide {
        img {
            border-radius: 15px;
        }
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            border: 1px solid $dark-green;
            opacity: 1;
            background: transparent;

            &.swiper-pagination-bullet-active {
                background-color: $dark-green;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: inherit;
        bottom: 20px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 1px solid $dark-green;
        background: url('./../images/left-arrow.svg') transparent no-repeat center;

        &::after {
            display: none;
        }
    }

    .swiper-button-prev {
        left: 30px;
    }

    .swiper-button-next {
        transform: rotate(180deg);
        right: 30px;
    }
}

// Custom Swiper thumbnail grid styles
.custom-thumbs-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 130px);
    gap: 16px;
    margin-top: 24px;

    .thumb {
        cursor: pointer;
        border-radius: 16px;
        overflow: hidden;
        border: 2px solid transparent;
        transition: border 0.2s;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
            display: block;
        }
    }
}

.custom-thumbs-grid .custom-thumbs-grid .thumb.active,
.custom-thumbs-grid .thumb:hover {
    border-color: #FFD600;
}